Agenda/Agenda/.vscode/
Agenda/Agenda/node_modules/
Agenda/AgendaPersist/.classpath/
Agenda/AgendaCore/.classpath/
Agenda/AgendaRest/.classpath/
Agenda/AgendaPersist/.settings/
Agenda/AgendaCore/.settings/
Agenda/AgendaRest/.settings/
*/.settings/