*.project
*.classpath
Agenda/AgendaCore/target/
Agenda/AgendaPersist/target/
Agenda/AgendaRest/target/
Agenda/AgendaCore/.settings/
Agenda/AgendaPersist/.settings/
Agenda/AgendaRest/.settings/
Agenda/.settings/
.vscode/
