<div class=" content">
  <div class='no-bars table-responsive'>
    <table class=' table'>
      <thead class=' text-primary'>
        <tr>
          <th class=' text-center'>Nombre</th>
          <th class=' text-center'>Direccion</th>
          <th class=' text-center'>Correo</th>
          <th class=' text-center'>Editar</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let registro of busqueda.list'>
          <td class=' text-center'>{{registro.nombre}}</td>
          <td class=' text-center'>{{registro.direccion}}</td>
          <td class=' text-center'>{{registro.correo}}</td>
          <td class=' text-center'>
            <button class=" btn btn-default btn-link btn-sm btn-icon " tooltip="Editar"
              (click)="getContactoEvent(registro)">
              <i class=" text-warning tim-icons icon-pencil"></i>
            </button>
          </td>
        </tr>
        <tr *ngIf='busqueda.list.length==0'>
          <td colspan="4" class='text-center'>No hay datos a mostrar</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>