<div class="content">
  <div class='card'>
    <div class='card-header'>
      <div class='card-title'>
        <h2>Gesti&oacute;n de contactos</h2>
      </div>
    </div>
    <div class='card-body'>
      <div class='no-bars table-responsive'>
        <table class=' table'>
          <thead class=' text-primary'>
            <tr>
              <th class=' text-center'>Nombre</th>
              <th class=' text-center'>Correo</th>
              <th class=' text-center'>Editar</th>
            </tr>
          </thead>
          <tbody>
            <!-- <tr *ngFor='let registro of listado.list'>
              <td class=' text-center'>{{registro.nombre}}</td>
              <td class=' text-center'>{{registro.correo}}</td>
              <td class=" td-actions text-right">
                <button class=" btn btn-link" type="button" placement="left" ngbTooltip="Edit Task" container="body" >
                  <i class=" tim-icons icon-pencil"> </i>
                </button>
              </td>
            </tr>
            <tr *ngIf='listado.list.length==0'>
              <td colspan="3" class='text-center'>No hay datos a mostrar</td>
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>